#main-container {
  background-color: lightblue;
  border: 2px solid rgb(255, 255, 255);
  padding: 20px;
  margin: 30px;
  text-align: center;
}

#main-container h1 {
  color: rgb(255, 255, 255);
  font-size: 2em;
}

#main-container p {
  color: #ffffff;
  font-size: 1.1em;
}
/* Style all elements with the class name "clothes" */
.clothes {
  background-color: lightblue;
  color: white;
  padding: 10px;
}

.fab {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 56px;
  height: 56px;
  background-color: #f44336;
  color: white;
  border-radius: 50%;
  text-align: center;
  line-height: 56px;
  font-size: 24px;
  text-decoration: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: background 0.3s ease;
}

.fab:hover {
  background-color: #d32f2f;
}