  /* ID for page 2 Header. */
#main-container {
  background-color: rgb(124, 206, 233);
  color: rgb(240, 84, 84);
  padding: 30px;
  text-align: center;
}

/* CSS for card in page 2. */
.card {
  border: 5px solid #ee4343;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(255, 238, 238, 0.1);
  padding: 20px;
  text-align: center;
  background-color: #499bdf;
} 

/*List.*/
.bordered-list {
  border: 2px solid #007bff;
  padding: 15px;
  margin: 20px;
  border-radius: 8px;
  list-style-type: none;
}

/*Highlighted section for every subheading in page 2.*/
.card-container h5 {
  color: rgb(255, 255, 255);
  font-size: 2em;
}
.bordered-list li {
  margin-bottom: 5px;
  text-align: left;
  color: rgb(255, 255, 255);
}

/* Style all elements with the class name "attractions" */
.attractions {
  background-color: rgb(240, 84, 84);
  color: white;
  padding: 10px;
}