  /* ID for page 4 Header. */
  #main-container {
    background-color: rgb(124, 206, 233);
    color: rgb(240, 84, 84);
    padding: 30px;
    text-align: center;
  }

  /* CSS for card in page 4. */
  .card {
    border: 5px solid #007bff; 
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(255, 238, 238, 0.1);
    padding: 20px;
    text-align: center;
    background-color: #ee4343;
  }

/*List for page 4.*/
  .bordered-list {
    border: 2px solid #ee4343;
    padding: 15px;
    margin: 20px;
    border-radius: 8px;
    list-style-type: none;
  }

 .bordered-list li {
    margin-bottom: 5px;
    text-align: left;
    color: rgb(255, 255, 255);
        } 

 /*Highlighted section for every subheading in page 4.*/
  .card-container h5 {
    color: rgb(255, 255, 255);
    font-size: 2em;
  }

/* Style all elements with the class name "food" */
.food {
  background-color: rgb(124, 206, 233);
  color: white;
  padding: 10px;
}